<%- include('./components/head') %>
  <%- include('./components/mainheader') %>

  <style>.bx-chevron-left{ display: none; }</style>

  <main>
    <div class="mid-main mx-auto mt-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <%- include('./components/card.ejs') %>
        <%- include('./components/card.ejs') %>
        <%- include('./components/card.ejs') %>
        <%- include('./components/card.ejs') %>
        <%- include('./components/card.ejs') %>
        <%- include('./components/card.ejs') %>
      </div>  
    </div>
  </main>

  <%- include('./components/footer') %>